
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popping', sans-serif;
}



body{
	display: flex;
	align-items: center;
	
}

.wrapper{
	max-width: 100%;
}
.сarousel .wrapper{
white-space: nowrap;
}

.carousel img{
	height: 300px;
	object-fit: cover;
	width: calc(100% / 3);
}
